In [1]:
import pandas as pd

url = "https://raw.githubusercontent.com/naren-3103/new-repo/test/Titanic-Dataset.csv"

# Try reading the CSV file with different parameters
try:
    df = pd.read_csv(url)
except pd.errors.ParserError as e:
    print("Error:", e)

In [2]:
#1.no of rows and col
l = df.shape
print('No of rows : ',l[0],'\n No of columns : ',l[1])

No of rows :  891
 No of columns :  12

In [3]:
null=df.isnull().mean() * 100
print(null,type(null))

PassengerId     0.000000
Survived        0.000000
Pclass          0.000000
Name            0.000000
Sex             0.000000
Age            19.865320
SibSp           0.000000
Parch           0.000000
Ticket          0.000000
Fare            0.000000
Cabin          77.104377
Embarked        0.224467
dtype: float64 <class 'pandas.core.series.Series'>

In [4]:
df_drop = df.loc[:, df.isnull().mean() < 0.2]
print(df.shape==df_drop.shape)
print(df_drop.columns)

False
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Embarked'],
      dtype='object')

In [5]:
excel_file_path = 'output.xlsx'  # Specify the path where you want to save the Excel file
df_drop.to_excel(excel_file_path, index=False)  # Set index=False to exclude DataFrame index from being saved